{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dylan Kelly Contact</title>
		<meta charset="utf-8">
		<meta name="keywords" content="Dylan Kelly, contact Dylan Kelly">
		<meta name="description" content="Dylan Kelly contact Page">
		<meta name="viewport"content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'mainwebsite/contact.css' %}">
		</head>
	<body>
		<div id="wrapper">
		  <header>
			<h1>Dylan Kelly</h1>
			<div id="tag">Programmer, Filmmaker, SongWriter, ScreenWriter</div>
		  </header>
		  <nav>
			<ul>
			  <li><a href="{%url 'mainpage-home' %}">Home</a></li>
			  <li><a href="{%url 'mainpage-home' %}">Projects</a></li>
			  <li><a href="{%url 'mainpage-squareWars' %}">Sqaure Wars</a></li>
			  <li><a href="{%url 'mainpage-contact' %}">Contact</a></li>
			</ul>
		  </nav>
			<main>
				<h2>Contacting Dylan Kelly</h2>
				<p class="contact">
					If you wish to contact me you can send me an email at: <br>
					<strong>Dylandk10@gmail.com</strong> <br><br>

					I hope to hear from you soon.<br>
					-Dylan Kelly
				</p>


			</main>
		  <footer>Copyright &copy; Dylan Kelly 2020
			</footer>
		</div>
	</body>
</html>
