{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dylan Kelly Contact</title>
		<meta charset="utf-8">
		<meta name="keywords" content="Dylan Kelly, contact Dylan Kelly">
		<meta name="description" content="Dylan Kelly contact Page">
		<meta name="viewport"content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'mainwebsite/highScores.css' %}">
		</head>
	<body>
		<div id="wrapper">
		  <header>
			<h1>Dylan Kelly</h1>
			<div id="tag">Programmer, Filmmaker, SongWriter, ScreenWriter</div>
		  </header>
		  <nav>
			<ul>
			  <li><a href="{%url 'mainpage-home' %}">Home</a></li>
			  <li><a href="{%url 'mainpage-home' %}">Projects</a></li>
			  <li><a href="{%url 'mainpage-squareWars' %}">Sqaure Wars</a></li>
			  <li><a href="{%url 'mainpage-contact' %}">Contact</a></li>
        <li><a href="{%url 'mainpage-highScores' %}">HighScores</a></li>
			</ul>
		  </nav>
			<main>
        <h2> Current HighScores! </h2>
          <table>
            <tr>
							<th>Rank</th>
              <th>Name</th>
              <th>Score</th>
            </tr>
      {% for models in model %}
            <tr>
							<td> {{ models.rank }} </td>
              <td> {{ models.name}} </td>
              <td> {{models.score}} </td>
            </tr>
      {% endfor %}
          </table>
			</main>
		  <footer>Copyright &copy; Dylan Kelly 2020
			</footer>
		</div>
	</body>
</html>
